*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bodydiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
      .maincontainer{
        width: 60%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
        grid-template-rows: 20% 80%;
        margin-top: 8%;
      }
      .heading{
        width: 100%;
        background-color: #f55762;
        display: flex;
        justify-content: center;
        align-items: end;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .heading p{
        color: white;
        font-size: 4vw;
        font-weight: 600;
      }
      .containerdiv {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding: 2%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

      }
      
      .form-content {
        flex: 1;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .form-image {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      h2 {
        text-align: center;
      }
      
      label {

        display: flex;
        margin-bottom: 1%;
        justify-content: flex-start;
        font-size: 1vw;
        font-weight: 600;
      }
      
      input[type="text"],
      input[type="email"],
      input[type="tel"],input[type="password"] {
        width: 100%;
        padding: 1.2%;
        margin-bottom: 20px;
        border: 1px solid #f25c66;
        border-radius: 5px;
        font-size: 13px;
      }
      
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #f55762;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.3vw;
      }
      
      input[type="submit"]:hover {
        background-color: #ac142d;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }
      @media (max-width:1200px) {
        .maincontainer{
          margin-top: 20%;
        }
      }
      @media (max-width:600px) {
        .containerdiv{
          display: block;
        }
        /* .form-image{
          display: none;
        } */
        .maincontainer{
          margin-top: 30%;
        }
        input[type="submit"] {
          font-size: 3vw;
        }
        .heading p{
          font-size: 6vw;
        }
        .heading{
          height: 85%;
        }
        label{
          font-size: 3vw;
        }
      }
